<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Return Address</title>
    <style>
        #header{
            background-image:url("/static/image1.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            padding: 3%;
            margin: 0% 0% 3% 0%;
            display: block;
            width:  100%;
        }

        body {
            background-color: rgb(234, 234, 234);
        }

        .num {
            width: 50px;
            height: 50px;
        }

        span.asterisk {
            color: red;
        }
    </style>
</head>
<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/apply">GPU Warranty</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/apply">Claim Form</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/label">Shipping Label</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/alternative">Alternative</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--Rest of Page-->
    <div class="container-fluid" id="header"> 
        <div>
            <h1 class="display-2 col text-white">Create Your Shipping Label</h1>
        </div>
        <div>
            <h6 class="display-9 col-8 text-white fw-lighter">Fill in your address to create your shipping label. Your replacement GPU will reach you in a few days' time!</h6>
            <div class="col"></div>
        </div>
       </div>
    
       <div class="container px-5 py-4 align-items-center justify-content-center bg-white">
        <form class="row">
            <div class="col-md-6 mb-3">
                <label for="getCase" class="form-label">Case Number <span class="asterisk">*</span> </label>
                <input type="text" class="form-control" id="getCase" placeholder="16-characters number" required>
            </div>
            
            <div class="col-md-6 mb-3">
                <label for="getSerial" class="form-label">Serial Number <span class="asterisk">*</span></label>
                <input type="text" class="form-control" id="getSerial" placeholder="16-characters number" required>
            </div>

            <div class="col-md-12 mb-3">
                <label for="getAddress" class="form-label">Return Address <span class="asterisk">*</span></label>
                <input type="text" class="form-control" id="getAddress" placeholder="Please provide your return address" required>
            </div>
            
            <div class="col-md-12 text-center">
                <button class="btn btn-secondary fw-light px-5 py-2 rounded-pill" type="submit">Submit</button>
            </div>
        </form>
       </div>
       <label id="error" class="text-danger"></label>
</body>
</html>